body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 400px;
    height: 400px;
    margin: 10px;
}

section{
    display: flex;
}

.div{
    width: 70%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
    line-height: 30px;
}

h3{
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

@media screen and (max-width:500px){
    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    img{
        width: 200px;
        height: 200px;
    }
    
    section{
        display: flex;
        display: list-item;
    }
    
    section>div{
        margin: 5px;
    }
    
    .div{
        width: 60%;
    }
    
    h1{
        font-size: 30px;
    }
    
    p{
        font-size: 15px;
        line-height: 20px;
    }
    
    h3{
        background-color: black;
        color: antiquewhite;
        padding: 10px;
        text-align: center;
        width: fit-content;
    }
}